.schedule-appointment-form .gform_page_footer.top_label {
    text-align: center;
}

.schedule-appointment-form  .ginput_container.ginput_container_date {
    justify-content: center;
}

.gform-theme-datepicker:not(.gform-legacy-datepicker) .ui-datepicker-calendar .ui-state-disabled .ui-state-default {
    background: #164D4F !important;
    border-radius: 0 !important;
    color: #ffffff !important;
}

.schedule-appointment-form  .gform_wrapper.gravity-theme .gf_progressbar_percentage.percentbar_blue {
    background-color: #164D4F;
}

.schedule-appointment-form .gf_progressbar_wrapper {
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
}
.schedule-appointment-form  p.gf_progressbar_title {
    color: #C50000 !important;
    font-weight: 600 !important;
}
.date-and-time .gfield_checkbox {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.date-and-time .gfield_checkbox .gchoice {
    width: 18%;
	    display: flex;
    align-items: center;
    justify-content: center;
}/*
Theme Name: Beaver Builder Child Theme
Theme URI: http://www.wpbeaverbuilder.com
Version: 1.0F
Description: An example child theme that can be used as a starting point for custom development.
Author: The Beaver Builder Team
Author URI: http://www.fastlinemedia.com
template: bb-theme
*/
.FloorteBtn .fl-callout-text a{
    color: #56728d !important;
}
.top-bar-nav ul#menu-top-bar-menu li a, .top-bar-nav ul#menu-top-bar-menu li a * ,
.fl-page-bar-text font span{
    font-size: 14px !important;
}
.fl-page-bar a *,
.fl-page-bar a *:hover{
    color: #fff !important;
    font-size: 14px;
}
.slick-track{
    display: flex;
    align-items: center;
    justify-content:center;
}
.fa-2x {
    font-size: 18px !important;
    vertical-align: text-bottom !important;
}
 .Floorvan_form a{
	color: #56728d!important; 
}
#menu-item-1131058 a{
	    border-radius: 37.5px !important;
    background-color: #C50000 !important;
    padding: 25px !important;
    font-size: 14px !important;
}
#menu-item-1131058 a span{
	color: #fff !important;
}

/*footer .iPadFooter.fl-row-bg-color   .fl-row-content-wrap{
    background-color: #56728d;
}*/
ul.social-icons li a:hover i {
    color: #56728d;
}

.privacy-policy-row .storename, .privacy-policy-row .phone{
    display: inline-block
}
#menu-item-507185 .storename li .phone span::before,
#responsive-menu-additional-content .storename .phone a span::before{
    content: "\f1f8";
    font-family: "foundation-icons";
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    text-decoration: inherit;
    margin-right: 5px;
}
.searchIcon {
    position: absolute;
    right: 10px;
    top: 25px;
}
.ui-datepicker-title select{
    color: #414042;
}
.fl-page-bar-row {
    display: flex;
    align-items: center;
    justify-content: center;
}
.searchModule {
    display: none;
    position: absolute;
    right: 0;
    left: 0;
    z-index: 9;
    background: #c9c1b4;
}
.d-none .fl-heading span{
    font-size: 0px !important;
}
.headerMain .fl-col-group {
    display: flex;
    justify-content: space-between;
}
.gform_wrapper .gfield_time_hour input, 
.gform_wrapper .gfield_time_minute input {
    
    width: calc(5rem + 8px) !important;
}
.gform_wrapper .gfield_time_hour i{
    margin-right: -25px;
}
.gform_wrapper .field_sublabel_below div[class*=gfield_time_].ginput_container label {
    margin: 1px 0 9px 13px !important;
}
body .gform_wrapper .top_label div.ginput_container.ginput_container_time{
    margin-right: 30px !important;
}

.fullWidthBanner img {
    width: 100%;
}

.phone>a {
    font-weight: 400;
    color: #3b5267;
}

.iscwp-gallery-slider .slick-dots li button {
    border: 1px solid #949494;
}

.gform_wrapper .gfield_checkbox li input, .gform_wrapper .gfield_checkbox li input[type=checkbox]{
    margin-top: 0px!important;
}
.gform_wrapper ul.gform_fields li.gfield select{
    padding: 14px 5px!important;
    min-width: 60px;
}
.gform_wrapper .gfield_time_hour i{
    margin-top: -2px!important;
}
.iscwp-gallery-slider .slick-dots li.slick-active button {
    background: #949494;
}
.fl-page-bar-row .fl-page-bar-text-2 {
    padding: 10px 0 0 0;
}
.fl-page-bar-row .fl-page-bar-text-2 a{
    font-size: 16px;
}
.fl-page-bar-row .fl-page-bar-text-2 i{
    font-size: 18px;
    margin-right: 5px;
    vertical-align: -3px;
}
.fl-page-bar-nav .menu-item .storename li .phone a:before{
    content: "\f095";
    font-family: FontAwesome;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    vertical-align: middle;
    margin: 2px 5px 0 0px;
    font-weight: 400;
    font-size: 18px;
}
#product-images-holder.colorwall-exlusive-batch .popup-imgs-holder .main-imgs{
    max-height: 456px;
}

.customized-images-section .position-relative {
    position: relative;
}

.customized-images-section .rightSide-Img1 {
   
}

.customized-images-section .rightSide-Img2 {
    position: absolute;
    bottom: -100px;
    right: -110px;
    width: 90%;
}
.schedule-appointment-form .gform_page_footer.top_label {
    text-align: center;
}
.main-header{
	position: absolute;
    z-index: 1;
    left: 0;
    right: 0;
}

.schedule-appointment-form  .ginput_container.ginput_container_date {
    justify-content: center;
}

.gform-theme-datepicker:not(.gform-legacy-datepicker) .ui-datepicker-calendar .ui-state-disabled .ui-state-default {
    background: #164D4F !important;
    border-radius: 0 !important;
    color: #ffffff !important;
}

.schedule-appointment-form  .gform_wrapper.gravity-theme .gf_progressbar_percentage.percentbar_blue {
    background-color: #164D4F;
}
.schedule-appointment-form .gf_progressbar_wrapper {
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
}
.schedule-appointment-form  p.gf_progressbar_title {
    color: #C50000 !important;
    font-weight: 600 !important;
}
.date-and-time .gfield_checkbox {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.date-and-time .gfield_checkbox .gchoice {
    width: 18%;
	    display: flex;
    align-items: center;
    justify-content: center;
}

@media(min-width:1024px) {
.fl-page-bar .fl-page-bar-nav>li>a {
    padding: 2px 60px!important;
}
}
@media(max-width:1024px) {
    .fl-node-5d08ac826d1d6 .uabb-creative-menu .menu>li {
        margin-left: 0 !important;
        margin-right: 0 !important;
    }


    .headerMain .headerRightNav {
        margin-left: 30px;
    }

    .fl-node-5d08ac826d1d6 .uabb-creative-menu.uabb-menu-default .menu>li>.uabb-has-submenu-container>a {
        padding: 10px 8px !important;
    }
}
@media (min-width: 768px){
    .fl-page-bar .text-right .fl-page-bar-nav {
        text-align: center;
    }
}
@media(max-width:768px) {
    /* .searchIcon {
        position: absolute;
    } */

    /* button#responsive-menu-button {
        top: 0 !important;
    } */
    .fl-builder-content .fl-module-content-slider .fl-slide .fl-slide-content{
        padding: 0 !important;
    }
    #responsive-menu-container #responsive-menu-search-box, 
    #responsive-menu-container #responsive-menu-additional-content, 
    #responsive-menu-container #responsive-menu-title {
        padding: 10px 5% !important;
    }
    .fl-page-header-logo{
        text-align: left;
    }
    .fl-page-nav-right .fl-page-nav-wrap{
        display: none;
    }
    .headerMain .fl-col-group {
        display: flex;
        align-items: center;
    }

    .headerMain .headerRightNav {
        margin: 0;
    }

    .headerMain .headerLogo {
        flex: 2;
    }
    .w-100{
        width: 100%;
    }
    .headerMain .phone.retailer {
        font-size: 26px;
        color: #3b5267;
        margin-right: 30px;
        vertical-align: middle;
        font-family: 'Ultimate-Icons' !important;
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    .headerMain .phone.retailer:before {

        content: "\ea3e";

    }
    .headerMain .phone.retailer span{
        font-size: 0;
    }

    .iPadFooter .fl-col-group {
        display: flex;
    }

    .iPadFooter .fl-col-group .fl-col {
        flex: 1;
    }

    ul#menu-copyright-bar-menu {
        display: flex;
    }

    .iPadFooter .fl-node-5c6fdfb622743.fl-col-group .fl-col {
        flex: 3;
    }

    .iPadFooter .fl-node-5c6fdfb622743.fl-col-group .fl-col:nth-child(2) {
        flex: 1;
    }
    .galleryImages .uabb-photo-gallery .uabb-photo-gallery-item {
        width: 33.33%;
    }
    
    .galleryImages .uabb-photo-gallery {
        display: flex;
        flex-wrap: wrap;
    }
    .max-width-issue{
        max-width: 400px !important;
        margin: 0 auto !important;
    }
}

@media(max-width:767px) {
    .highlightPoits .fl-col-group .fl-col {
        width: 100% !important;
    }
    .highlightPoits .fl-col-group .fl-col .fl-col-content {
        border: 0;
    }
    button#responsive-menu-button{
        top: 110px !important;
    }
    .fl-page-bar-text font,
    .top-bar-nav ul#menu-top-bar-menu li a, .top-bar-nav ul#menu-top-bar-menu li a * {
        font-size: 12px !important;
    }
    .headerRightNav .fl-node-5d230a5e00677 .fl-rich-text >p{
        margin-bottom: 0 ;
    }
    .fl-page-nav-toggle-button.fl-page-nav-toggle-visible-mobile .fl-page-nav .navbar-toggle{
        display: none !important;
    }
    #responsive-menu-container #responsive-menu-additional-content, 
    #responsive-menu-container #responsive-menu-title ,
    #responsive-menu-container #responsive-menu-search-box{
        padding: 10px 5% !important;
    }
    #responsive-menu-additional-content .storename li .phone span::before{
        content: "\f1f8";
        font-family: "foundation-icons";
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        display: inline-block;
        text-decoration: inherit;
        margin-right: 5px;
    }
    .fl-builder-content .fl-module-content-slider .fl-slide .fl-slide-content{
        padding: 0 !important;
    }
    button#responsive-menu-button {
        z-index: 99999 !important;
    }
    #menu-about-us,
    #menu-inspiration-menu,
    #menu-flooring-menu{
        text-align: left !important;
    }
}
@media (max-width: 604px){
    button#responsive-menu-button {
        top: 92px !important;
    }
    .top-bar-nav ul#menu-top-bar-menu li a, .top-bar-nav ul#menu-top-bar-menu li a *{
        line-height: 1.5 !important;
    }
    .uabb-masonary .uabb-masonary-item{
         width: 100% !important;
    } 
    .fl-page-header-primary .fl-logo-img {
        max-width: 64% !important;
    } 
}
@media(max-width:480px) {    
    .galleryImages .uabb-photo-gallery .uabb-photo-gallery-item {
        width: 100%;
    }
    .location-top .fl-button{
        text-align: unset;
    }
    .fl-node-5d1f5d4b47fe6 div.uabb-image-carousel .slick-next{
        right: 20px;
    }
    .fl-node-5d1f5d4b47fe6 [dir='rtl'] div.uabb-image-carousel .slick-prev{
        left: 20px;
    }
    .iPadFooter .fl-col-group{
        flex-direction: column;
    }
    .iPadFooter .fl-col-group .fl-col{
        flex: 2;
        width: 100% !important;
        text-align: center;
    }
    ul#menu-copyright-bar-menu{
        justify-content: center;
    }
}
@media (max-width: 414px){
    button#responsive-menu-button {
        top: 88px !important;
    }
    .fa-2x{
        font-size: 16px !important;
    }
}
@media(max-width:379px) {  
    .top-bar-nav .fl-page-bar-nav>li>a {
        padding: 2px 5px;
    }
    .fl-page-bar-row .col-md-6.text-right{
        padding-left: 5px;
    } 
    .fl-page-bar-row .col-md-6.text-left{
        padding-right: 5px;
    } 
    .fl-page-bar-text font, .top-bar-nav ul#menu-top-bar-menu li a, .top-bar-nav ul#menu-top-bar-menu li a * {
        font-size: 11px !important;
    }
    button#responsive-menu-button {
        top: 80px !important;
    }
}
@media(max-width:374px) {  
    .fl-page-bar{
        display: none;
    }
    button#responsive-menu-button {
        top: 15px !important;
    }
}

